/* 全局样式 */

body {
    margin: 0;
    font-size: 1.1em;
    font-family: "Microsoft YaHei", "微软雅黑", "Open Sans", Arial, sans-serif, Impact, "Segoe UI"
}


/* 隐藏按钮单击时的边框 */

button:focus {
    outline: 0;
}


/* 隐藏按钮单击时的边框(Firefox) */

button::-moz-focus-inner {
    border: 0;
}


/* 导航栏 */

#nav-bar {
    background-color: #a310a3;
    height: 40px;
    color: white;
    display: block;
    font-size: 1.2em;
    padding-top: 10px;
    box-shadow: 0px 5px 5px 0px #b6b7c1;
}

#nav-bar a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    display: inline;
}

#nav-bar-right {
    margin-right: 10px;
    float: right;
}

#nav-bar-right a {
    background-color: #a310a3;
    transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    padding: 4px 4px 4px 4px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 3px;
}

#nav-bar-right a:link {
    background-color: #a310a3;
}

#nav-bar-right a:hover {
    background-color: #cc46cc;
}